

.tooltip {
    position: absolute;
    margin: 8px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    max-width: 450px;
    font-size: 1em;
    z-index: 9;
    pointer-events: none;
    -webkit-animation: fadein 1000ms;
    animation: fadein 1000ms;
    border-radius: 10px;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fab-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    width: 42px;
    height: 42px;
    background-color:white;
    padding: 8px;
    border-radius: 100%;
    cursor:pointer;
    z-index: 10;
    /*opacity:0.5;*/
}

.fab-sub-menu {
    position: absolute;
    top: 22px;
    right: 22px;
    display: flex;
    width: 30px;
    height: 30px;
    background-color:white;
    padding: 8px;
    border-radius: 100%;
    cursor:pointer;
    z-index:5;
    opacity:0.5;
    transition-property: top,opacity;
    transition: all 250ms ease-in-out;
}

.fab-clear-filter-button {
    position: absolute;
    top: 250px;
    right: -50px;
    display: flex;
    width: 30px;
    height: 30px;
    background-color:transparent;
    padding: 8px;
    border-radius: 100%;
    cursor:pointer;
    z-index:5;
    transition-property: top,background-color;
    transition: all 250ms ease-in-out;
}

.fab-data-container{
    height:225px;
    width:225px;
    background-color: white;
    bottom: -300px;
    right: 22px;
    position: absolute;
    display: flex;
    padding: 8px;
    border-radius: 10px;
    cursor:pointer;
    z-index:5;
    /*opacity:1;*/
    opacity:0;
    transition-property: top,opacity;
    transition: all 250ms ease;
}

.fab-filter-container{
    /*min-height:200px;*/
    /*height:205px;*/
    width:100%;
    max-width:300px;
    background-color: white;
    top: -250px;
    right: 85px;
    position: absolute;
    display: flex;
    padding: 8px;
    border-radius: 10px;
    cursor:pointer;
    z-index:5;
    opacity:0;
    transition-property: top,opacity;
    transition: all 250ms ease-in-out;
}

.no-visible-data-notification{
    font-weight: bold;
}

.no-visible-data-animation{
    width: 200px;
    height: auto;
    margin:auto
}

.chart-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height:100%;
    width:100%;
    font-family: Noto Sans JP, sans-serif;
    font-weight: bolder;
}

.chart-tooltip{
    background-color: #000000CC;
    padding: 8px;
    border-radius: 8px;
}
